node_modules
# Keep environment variables out of version control
.env

prisma/dev.db
prisma/dev.db-journal
.next

.DS_Store
strapi-export

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
