@property --bg-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

@keyframes spin {
  to {
    --bg-angle: 360deg;
  }
}

.border-animation {
  animation: spin 2.5s infinite linear running;

  background:
    linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1))
      padding-box,
    conic-gradient(
        from var(--bg-angle) at 50% 50%,
        #2e90dbff 0%,
        #cf13c2ff 100%
      )
      border-box;
}

.volume {
  --audio-level: 0%;
  position: relative;
}

.volume:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--audio-level);
  background: linear-gradient(to right, #2e90db 0%, #cf13c2 100%);
  opacity: 0.5;
  transition: height ease-in 25ms;
}
